@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

body {
    font-family: 'Quicksand'
}

li {
    padding: 12px;
    cursor: pointer;
}

.content-div {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 250px
}

.leaflet-container {
    width: 1000px;
    height: 1000px;
}